:root {
    /*custom property for that will use across the project*/
    --clr-global-orange: #DF4732;
    --clr-global-orange-rgb: 223 71 50;
    --clr-global-white-rgb: 255 255 255;
    --clr-global-darkbrown: #670000;
    --clr-global-lightbrown: #BEA6A0;
    --clr-global-greybrown: #56423D;
    --clr-global-aqurablue-rgb: 3 188 244;
    --clr-global-lightblue: #00BDD5;
    --clr-global-blue: #0097C6;
    --clr-global-darkblue: #006290;
    --clr-global-lightyellow: #EDE9D0;
    --clr-global-lightlightyellow: #F2F1EB;
    --clr-global-grey: #7D7D7D;
    --clr-global-darkgrey: #2C2C2C;
    --clr-global-black: #000000;
    --clr-global-white: #FFFFFF;
    --clr-hamburger-black: rgba(0, 0, 0, 0.95);

    /*font family*/
    --ff-global: "Inter", sans-serif;
    --ff-logo: 'Carter One', cursive;

    /*font weight*/
    --fw-medium: 500;
    --fw-bold-semi: 600;
    --fw-bold: 700;
    --fw-light: 300;

    /*font-size: */
    --fs-normal: 1.5rem;
    --fs-small: 1.25rem;

    --fclr-header: var(--clr-global-white);
    --bstyle: 1px solid var(--clr-global-grey);

    /*font weight for heading 1 and text*/
    --fw-h1: var(--fw-bold);
    --fw-text: var(--fw-light);
}

/*disable the default style of the checkbox*/
input[type="checkbox"] {
    appearance: none;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/*set the default font to inter*/
html {
    font-family: var(--ff-global);
}

/*remove field set border*/
fieldset {
    border: none;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: none;
    font: inherit;
}

a {
    display: inline-block;
}

/*css trick to make the paragraph fit its parent's width*/
p {
    width: 0;
    min-width: 100%;
    font-weight: var(--fw-light);
    font-size: var(--fs-small);
}

img, video {
    width: 100%;
    display: block;
    object-fit: cover;
}

h1 {
    font-weight: var(--fw-h1);
}

/*style for navigation bar*/
header {
    --text: var(--clr-global-white);
    --svg: invert(100%) sepia(3%) saturate(0%) hue-rotate(259deg) brightness(104%) contrast(100%);
    --background: transparent;
}

/*====================================================================*/
/*            global animation*/
/*====================================================================*/

/*fade in animation use across the project*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*drop in animation use across the project*/
@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*slide in animation use across the project*/
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*global setting for the animation*/
main {
    --animation-duration: 500ms;
    --delay: 50ms;
    --text-fade-in: fadeIn var(--animation-duration) ease both;
    --figure-drop-in: dropIn var(--animation-duration) ease both;
    --image-slide-in: slideIn var(--animation-duration) ease-in both;
}

/*====================================================================*/
/*            navbar styling*/
/*====================================================================*/

/*navbar container styling*/
.nav-container {
    display: flex;
    /*make the navbar appear on top of the screen*/
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100vw;
    padding: 0.75em 4em;
    z-index: 9998;
    background: var(--background);
}

.logo {
    display: flex;
    justify-items: flex-end;
    /*make the logo grow with the screen*/
    font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
    cursor: pointer;
}

/*styling logo image*/
.logo__image {
    object-fit: fill;
    /*let the svg grow with the logo container font size*/
    max-width: 1em;
    height: auto;
    filter: var(--svg);
}

/*styling the logo text*/
.logo__text {
    font-family: 'Carter One', serif;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text);
}

/*turn the logo into orange if hover*/
.logo:hover .logo__image {
    filter: invert(34%) sepia(50%) saturate(3516%) hue-rotate(346deg) brightness(94%) contrast(86%);
}

.logo:hover .logo__text {
    color: var(--clr-global-orange);
}

/*aligning the navigation links*/
.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

/*styling the navigation link*/
.nav__link {
    color: var(--text);
    font-size: 1.5em;
}

.nav__links li {
    position: relative;
    padding-block: 0.5em;
}

/*turn the navigation link orange when hover*/
.nav__links li:hover .nav__link {
    color: var(--clr-global-orange);
}

/*hide the hamburger menu icon*/
.hamburger-toggle {
    display: none;
}

/*non transparent navigation bar style*/
header.scrolled {
    --text: var(--clr-global-black);
    --svg: none;
    --background: var(--clr-global-white);
}

@media not screen and (max-width: 840px) {

    /*navigation link hovering effect*/
    .nav__links li::before {
        position: absolute;
        content: '';
        background: var(--clr-global-orange);
        width: 100%;
        height: 0.2em;
        bottom: 0;
        transform: scale(0, 1);
        transition: 250ms transform cubic-bezier(.08, .82, .17, 1);
        transform-origin: left;
    }

    .nav__links li:hover::before {
        transform: scale(1, 1);
    }
}

/*the navigation menu will switch to hamburger menu at this point*/
@media only screen and (max-width: 840px) {
    /*changing the navigation bar color*/
    header {
        --text: var(--clr-global-black) !important;
        --background: var(--clr-global-white) !important;
        --svg: invert(0%) sepia(0%) saturate(0%) hue-rotate(338deg) brightness(104%) contrast(108%);;
    }

    /*switching into hamburger menu*/
    .nav-container {
        display: block;
        padding: 0;
    }

    /*readjust the icon according to the hamburger menu*/
    .logo {
        justify-content: center;
        display: flex;
        padding-block: 0.25em;
        font-size: clamp(2.7rem, 3vw + 0.5rem, 6rem);
        background: var(--background);
        position: relative;
    }

    /*add border when opening the hamburger menu*/
    .logo.active {
        border-bottom: var(--bstyle);
    }

    /*re-adjust the nav link with the hamburger menu*/
    .nav__links {
        position: absolute;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        padding-inline: clamp(4rem, 10vw + 0.5rem, 6rem);
        padding-bottom: 3rem;
        top: -24em;
        background: var(--clr-global-white);
        /*drop down animation timing*/
        transition: transform 400ms cubic-bezier(.22, .61, .36, 1) 200ms;
        z-index: -1;
    }

    .nav__link {
        display: block;
        opacity: 0;
        font-size: 1.5rem;
        padding-block: 1em;
        border-bottom: var(--bstyle);
        transition: 200ms opacity ease-out;
    }


    /*activate the animation when the navigation link expand*/
    .nav__links.active {
        transform: translateY(100%);
        transition: transform 400ms cubic-bezier(.22, .61, .36, 1);
    }

    /*activate the animation when the navigation link expand*/
    .nav__links.active .nav__link {
        opacity: 1;
        transition: 400ms opacity ease-in 100ms;
    }

    /*styling the hamburger menu icon*/
    button.hamburger-toggle {
        display: block;
        position: absolute;
        width: 3em;
        aspect-ratio: 1;
        top: 1.55rem;
        left: 2.75rem;
        right: 2rem;
        z-index: 9999;
        filter: var(--svg);
    }

    /*switch to close icon the hamburger menu is expanded*/
    button.hamburger-toggle.active > img {
        content: url("../asset/hamburger_close.svg");
    }
}