:root {
    --clr-global-orange: #DF4732;
    --clr-global-orange-rgb: 223 71 50;
    --clr-global-white-rgb: 255 255 255;
    --clr-global-darkbrown: #670000;
    --clr-global-lightbrown: #BEA6A0;
    --clr-global-greybrown: #56423D;
    --clr-global-aqurablue-rgb: 0 189 213;
    --clr-global-lightblue: #00BDD5;
    --clr-global-blue: #0097C6;
    --clr-global-darkblue: #006290;
    --clr-global-lightyellow: #EDE9D0;
    --clr-global-lightlightyellow: #F2F1EB;
    --clr-global-grey: #7D7D7D;
    --clr-global-darkgrey: #2C2C2C;
    --clr-global-black: #000000;
    --clr-global-white: #FFFFFF;
    --clr-hamburger-black: rgba(0, 0, 0, 0.95);

    --ff-global: "Inter", sans-serif;
    --ff-logo: 'Carter One', cursive;

    --fw-bold-semi: 600;
    --fw-bold: 700;
    --fw-light: 300;

    --fs-normal: 1.5rem;
    --fs-small: 1.25rem;

    --fclr-header: var(--clr-global-white);
    --bstyle: 1px solid var(--clr-global-grey);

    --fw-h1: var(--fw-bold);
    --fw-text: var(--fw-light);
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

html {
    font-family: var(--ff-global);
}

a,
button {
    cursor: pointer;
}

input, button, textarea {
    outline: none;
    border: none;
    background: none;
    font: inherit;
}

a {
    display: inline-block;
}

p {
    width: 0;
    min-width: 100%;
    font-weight: var(--fw-light);
    font-size: var(--fs-small);
}

img, video {
    width: 100%;
    display: block;
    object-fit: cover;
}

h1 {
    font-weight: var(--fw-h1);
}

header {
    --text: var(--clr-global-white);
    --svg: invert(100%) sepia(3%) saturate(0%) hue-rotate(259deg) brightness(104%) contrast(100%);
    --background: transparent;
}

.nav-container {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100vw;
    padding: 2em 4em;
    z-index: 9998;
    background: var(--background);
}

.logo {
    display: flex;
    justify-items: flex-end;
    font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
}

.logo__image {
    object-fit: fill;
    max-width: 1em;
    height: auto;
    filter: var(--svg);
}

.logo__text {
    font-family: 'Carter One', serif;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text);
}

.logo:hover .logo__image {
    filter: invert(34%) sepia(50%) saturate(3516%) hue-rotate(346deg) brightness(94%) contrast(86%);
}

.logo:hover .logo__text {
    color: var(--clr-global-orange);
}

.logo > a > span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.nav__link {
    color: var(--text);
    font-size: clamp(1rem, 2.5vw + 0.1rem, 1.75rem);
}

.nav__link:hover {
    color: var(--clr-global-orange);
}

.hamburger-toggle {
    display: none;
}

header.scrolled {
    --text: var(--clr-global-black);
    --svg: none;
    --background: var(--clr-global-white);

}

@media (max-width: 840px) {
    header {
        --text: var(--clr-global-black) !important;
        --background: var(--clr-global-white) !important;
        --svg: invert(0%) sepia(0%) saturate(0%) hue-rotate(338deg) brightness(104%) contrast(108%);;
    }

    .nav-container {
        display: block;
        top: 0;
        /*overflow: hidden;*/
        padding: 0;
        background: none;
    }

    .logo {
        justify-content: center;
        display: flex;
        padding-block: 0.75em;
        font-size: clamp(3rem, 3vw + 0.5rem, 6rem);
        background: var(--background);
        position: relative;
    }

    .logo.active {
        border-bottom: var(--bstyle);
    }

    .nav__links {
        position: relative;
        flex-direction: column;
        align-items: stretch;
        padding-inline: clamp(4rem, 10vw + 0.5rem, 6rem);
        padding-bottom: 3rem;
        background: var(--clr-global-white);
        transform: translateY(-135%);
        transition: transform 200ms ease-in;
        z-index: -1;
    }

    .nav__link {
        padding-block: 1em;
        border-bottom: var(--bstyle);
        display: block;
        /*text-align: center;*/
        font-size: clamp(1rem, 0.1rem + 3vw, 1.5rem);
    }

    .nav__links.active {
        transform: translateY(0%);
    }

    button.hamburger-toggle {
        display: block;
        position: absolute;
        width: 3em;
        aspect-ratio: 1;
        top: 2.75rem;
        left: 2.75rem;
        right: 2rem;
        z-index: 9999;
        filter: var(--svg);
    }


    button.hamburger-toggle.active > img {
        content: url("../asset/hamburger_close.svg");
    }

}