:root{
    --clr-ramenbackground: #E8DCAC;
    --clr-ramen: #F5E4C0;
    --clr-alacarte: #F0E5CF;
    --clr-drink: #E3F3E3;
    --clr-money: #EDE9D0;
    --clr-header:   #F0E5CF;
    --clr-information: #C0A48B;
}

body{
    background: var(--clr-ramenbackground);
}

.logo{
    font-family: Inter  ;
}

input[type='checkbox']{
    border:1px solid orange;
    padding: 0.8em;
    background: white;
    max-height: 1em;
    max-width: 1em;

}
textarea{
    border: 1px solid orange;

}
ul{
    list-style: none;
}
header {
    --background: var(--clr-header) !important;
}

.info, .ala, .drink, .ramen {
    background: white;
    border-radius: 10px;
    /*font-size: clamp(1rem);*/
}
.logo {
    text-transform: uppercase;

}
.total{
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid;
    background: white;
    position: fixed;
    align-items: start;
    margin-top: 12vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    width: 25vw;
    border-radius: 1em;
    padding: 1em;
}
.ramen-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    background: var(--clr-ramen);
    gap: 5%;
}
.ramen-type li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: white;
    padding: 1em;
    border: 1px solid orange;
    border-radius: 1em;
}
.ramen-form{
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    padding-left: 2em ;
    gap: 2em;
}

.ramen-image{
    border-radius: 1em;
}
.ramen-container{
    padding: 0.5em;
    background: var(--clr-ramen);
    border-radius: 20px;
    padding-inline: 1em;
    padding-block: 1em;

}

.ala-list, .drink-list, .input-info {
    display: grid;
}

.alcarte{
    padding: 0.5em;
    background: var(--clr-alacarte);
    border-radius: 20px;
    padding-inline: 1em;
    padding-block: 1em;
}
.ala-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem ,1fr));
    padding: 0.5em;
}

.ala-list li {
    display: flex;
    padding-bottom: 1em;
    align-items: center;
    gap: 0.5em;
}

.drink{
    background: var(--clr-drink);
}
.drink-list {
    display: grid;
}
.input-info {
    display: grid;
    background: var(--clr-information);
    padding: 1em;

}

input.submit {
    background: orangered;
    color: white;
    border-radius: 10px;
}

.ramen-form{
    width: 70vw;
}

@media only  screen and (max-width: 800px){

}