:root{
    --clr-ramenbackground: #E8DCAC;
    --clr-ramen: #F5E4C0;
    --clr-alacarte: #F0E5CF;
    --clr-alacarte-text: #DC5D31 ;
    --clr-drink: #E3F3E3;
    --clr-drink-text: #002140;
    --clr-money: #EDE9D0;
    --clr-header:   #F0E5CF;
    --clr-information: #C0A48B;
}

body{
    background: var(--clr-ramenbackground);
}

input, textarea {
    background: white;
}

input[type='checkbox'] {
    display: inline-block;
    position: relative;
    border: 0.1em solid orange;
    border-radius: 0.4em;
    padding: 0.5em;
    background: white;
    max-height: 1em;
    font-size: clamp(1rem, 2vw + 0.1rem, 9rem);
    max-width: 1em;
}


input[type='checkbox']:hover {
    background: #f0f0f0;
    color: #f0f0f0;
}

input[type='checkbox']:hover:checked,
input[type='checkbox']:checked {
    background: orange;
    color: black;
}

input[type='checkbox']:checked:after {
    content: '\2714';
    position: absolute;
    line-height: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0.7) translateX(10%);
}

input[type='number'] {
    border: 0.5px solid grey;
    max-width: 3.5ch;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    opacity: 1;
}

textarea, input[type='tel'], input[type='text'], input[type='email'] {
    border: 0.2em solid dimgrey;
    border-radius: 1em;
    padding: 0.5em;
}
ul{
    list-style: none;
}
.order-list{
    width: 100%;
}
.order-list .order li{
    display: flex;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
    padding-block: 0.3em ;
}

header {
    --background: var(--clr-header) !important;
}

h1 {
    text-transform: uppercase;
    font-family: 'Carter One', serif;
    font-size: 3rem;
}

.order{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.item_name{
    font-size: 1rem;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px solid orange;
    position: fixed;
    align-items: start;
    margin-top: 12vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    width: 25vw;
    border-radius: 1em;
    padding: 1.5em;
    background: gainsboro;
}
.ramen-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--clr-ramen);
    column-gap: 5%;
    row-gap: 1em;
}
.ramen-type li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: white;
    padding: 1em;
    border: 1px solid orange;
    border-radius: 1em;
    font-size: 2rem;
}
.ramen-form{
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    padding-left: 2em ;
    gap: 2em;
}

.ramen-image{
    border-radius: 1em;
}
.ramen-container{
    padding: 0.5em;
    background: var(--clr-ramen);
    border-radius: 20px;
    padding-inline: 1em;
    padding-block: 1em;
}


.ala-list, .drink-list, .input-info {
    display: grid;
}

.alcarte{
    background: var(--clr-alacarte);
    border-radius: 20px;
    padding-inline: 1em;
    padding-block: 1em;
}
.ala-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5em;
}

.ala-list li {
    display: flex;
    padding-bottom: 1em;
    align-items: center;
    gap: 0.5em;
    font-size: 2rem;
}

.drink{
    background: var(--clr-drink);
    border-radius: 20px;
    padding-inline: 1em;
    padding-block: 1em;
}
.drink-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*padding: 0.5em;*/
}
.drink-list li {
    font-size: 1.5rem;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.drink-info{
    color: var(--clr-drink-text);
}
.information {
    background: var(--clr-information);
    padding-inline: 1em;
    padding-block: 0.5em;
    border-radius: 20px;
}


input.submit {
    background: orangered;
    color: white;
    border-radius: 10px;
    border: orangered;
    padding: 0.5em;
    font-size: clamp(1rem, 2vw + 0.1rem, 2rem);
}

input.submit:hover {
    background: #e03d00;
}

.ramen-form {
    width: 70vw;
}

@media only  screen and (max-width: 800px) {
    .ala-list {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }

    .ala-list li {
        font-size: 1rem;
    }
    .drink-list{
        grid-template-columns: repeat(auto-fit, minmax(12rem ,1fr));;
    }
    .drink-list li {
        font-size: 1rem;
    }
    .ramen-type {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
    .ramen-type li{
        font-size: 1rem;
    }
}

@media only  screen and (max-width: 1200px) {
    .cart{
        position: relative;
        width: 100%;
        margin-block: 0.5em;

    }
    h1 {
        text-transform: uppercase;
        font-family: 'Carter One', serif;
        font-size: 1rem;
    }
    .ramen-form{
        width: 100%;
        padding-inline: 2em;
    }
}
