:root{
    --clr-ramenbackground: #E8DCAC;
    --clr-ramen: #F5E4C0;
    --clr-alacarte: #F0E5CF;
    --clr-drink: #E3F3E3;
    --clr-money: #EDE9D0；
}
body{
    background: var(--clr-ramenbackground);
}